html {
 box-sizing: border-box;
 scroll-behavior: smooth;
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

:root {
 --color-white: #FFFFFF;
 --color-black: #000000;

 --color-primary: #08A6E4;
 --color-nav: #A5A5A5;

 --color-shadow-primary: rgba(7,172,230,0.16);
 --color-shadow-header: #00000029;
 --color-shadow-button: #07ACE629;
 
 --font-raleway: "Raleway", sans-serif;
 --font-open: "Open Sans", sans-serif;

 --button-radius: 40px;

}

body {
  font-family: var(--font-open);
}

a {
  text-decoration: none;
}


/* ---HEADER & NAVIGATION--- */
.header {
  height: 70px;
  box-shadow: 0 3px 6px var(--color-shadow-header);
}

.header__container {
  max-width: 1352px;
  height: 100%;
  margin: 0 auto;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: var(--font-raleway);
  font-size: 2rem;
  color: var(--color-primary);
  font-weight: 300;
}

.header__nav {
  display: flex;
  gap: 95px;
}

.nav__link {
  font-family: var(--font-open);
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 3.28px;
  text-transform: uppercase;
  color: var(--color-nav);
  border-bottom: 4px solid transparent;
  
  padding: 26px 20px;
}

.nav__link:hover {
  color: var(--color-black);
  border-color: var(--color-primary);
}


/* ---OPENING SECTION--- */
.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opening__content {
  margin-top: 130px;
  text-align: center;
}

.opening__header {
  font-family: var(--font-raleway);
  font-size: 3.0625rem;
}

.opening__heading {
margin-top: 20px;
margin-bottom: 38px;

font-family: var(--font-open);
font-size: 1rem;
}

.opening__image {
  width: 100%;
  height: auto;
}

.btn {
  color: var(--color-white);
  font-weight: bold;
  background-color: var(--color-primary);
  border-radius: var(--button-radius);
  border: none;

  display: inline-block;
}

.btn--primary {
  background-color: var(--color-primary);
  border-radius: var(--button-radius);
  box-shadow: 5px 10px 14px var(--color-shadow-button);
}

.btn--large {
  padding: 23px 157px;
}

/* ---HIGHLIGHTS SECTION--- */

