html {
 box-sizing: border-box;
 scroll-behavior: smooth;
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

:root {
 --color-white: #FFFFFF;
 --color-black: #000000;

 --color-primary: #08A6E4;
 --color-nav: #A5A5A5;

 --color-benefits-background: #F7F7F7;

 --color-card-red: #fb3b64;
 --color-card-blue:#08A6E4;
 --color-card-green: #55DFB4;

 --color-shadow-primary: rgba(7,172,230,0.16);
 --color-shadow-header: #00000029;
 --color-shadow-button: #07ACE629;
 
 --font-raleway: "Raleway", sans-serif;
 --font-open: "Open Sans", sans-serif;

 --button-radius: 40px;

}

body {
  font-family: var(--font-open);
}

a {
  text-decoration: none;
}


/* ---HEADER & NAVIGATION--- */
.header {
  height: 70px;
  box-shadow: 0 3px 6px var(--color-shadow-header);
}

.header__container {
  max-width: 1352px;
  height: 100%;
  margin: 0 auto;
 
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header__logo {
  font-family: var(--font-raleway);
  font-size: 2rem;
  color: var(--color-primary);
  font-weight: 300;
}

.header__nav {
  display: flex;
  gap: 95px;
}

.nav__link {
  font-family: var(--font-open);
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 3.28px;
  text-transform: uppercase;
  color: var(--color-nav);
  border-bottom: 4px solid transparent;
  
  padding: 26px 20px;
}

.nav__link:hover {
  color: var(--color-black);
  border-color: var(--color-primary);
}


/* ---OPENING SECTION--- */
.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opening__content {
  margin-top: 130px;
  text-align: center;
}

.opening__header {
  font-family: var(--font-raleway);
  font-size: 3.0625rem;
}

.opening__heading {
margin-top: 20px;
margin-bottom: 38px;

font-family: var(--font-open);
font-size: 1rem;
}

.opening__image {
  width: 100%;
  height: auto;
}

.btn {
  color: var(--color-white);
  font-weight: bold;
  background-color: var(--color-primary);
  border-radius: var(--button-radius);
  border: none;

  display: inline-block;
}

.btn--primary {
  background-color: var(--color-primary);
  border-radius: var(--button-radius);
  box-shadow: 5px 10px 14px var(--color-shadow-button);
}

.btn--large {
  padding: 23px 157px;
}


/* ---HIGHLIGHTS SECTION--- */

.highlights {
  margin-top: 22px;
}

h2 {
  font-family: var(--font-raleway);
  font-size: 2.25rem;
  text-align: center;
}

.highlights__container {
  max-width: 800px;
  margin: 100px auto 120px;

  display: flex;
  justify-content: space-between;
}

.highlights__card {
  max-width: 165px;
  font-family: var(--font-raleway);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.highlights__circle {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  position: relative;
}

.highlights__img {
  position: absolute;
}

.highlights__card:nth-child(1) .highlights__circle {
  background-color: var(--color-card-red); 
}

.highlights__card:nth-child(1) .highlights__img {
  top: 5%;
  left: 45%; 
}

.highlights__card:nth-child(2) .highlights__circle {
  background-color:var(--color-card-blue);
  opacity: 100%;
}

.highlights__card:nth-child(2) .highlights__img {
  top: 20%;
  left: 30%; 
}

.highlights__card:nth-child(3) .highlights__circle {
  background-color:var(--color-card-green);
  opacity: 100%;
}

.highlights__card:nth-child(3) .highlights__img {
  top: 10%;
  left: 50%; 
}

.highlights__number {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.1875rem;
  margin-top: 14px;
}

.highlights__description {
  color:var(--color-nav);
  margin-top: 19px;
}


/* ---BENEFITS SECTION--- */

.benefits {
  padding: 100px 0;
  background-color: var(--color-benefits-background);
}

.benefits__container {
  padding: 0 251px;
}

.benefits__single {
  background-color: var(--color-white);
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 37px;
}

.benefits__text {
  max-width: 416px;
  margin: 91px 35px;
}

.benefits__title {
  text-align: left;
  line-height: 2.625rem;
}

.benefits__text::after {
  content: "";
  max-width: 327px;
  height: 4px;
  background-color: var(--color-card-red);
  display: block;
  margin-top: 50px;
}

.benefits__description {
  margin-top: 30px;
  line-height: 1.375rem;
}

.benefits__image {
  position: relative;
}

.benefits__image img {
  position: relative;
  z-index: 2;
}

.benefits__single--notebook .benefits__image {
  margin-right: 117px;
  margin-bottom: 38px;
}

.benefits__single--notebook .benefits__image::before {
  content: "";
  width: 180px;
  height: 180px;
  background-color: var(--color-card-red);

  display: block;
  border-radius: 41px;
  position: absolute;
  right: 0;
  top: -40px;
  transform: rotate(45deg);
}

.benefits__single--notebook .benefits__image {
  width: 386px;
  height: auto;
}

.benefits__single--phone {
  flex-direction: row-reverse;
  padding: 0 20px 0 70px;
}

.benefits__single--phone .benefits__image::before {
  content: "";
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: var(--color-card-blue);
  
  position: absolute;
  left: -3%;
  top: -5%;
}

.benefits__single--phone .benefits__text::after {
  background-color: var(--color-card-blue);
}

.benefits__single--solo .benefits__text::after {
  background-color: var(--color-card-green);
}

.benefits__single--phone .benefits__image img {
  width: 426px;
  height: auto;
}

.benefits__single--phone .benefits__text {
  margin: 70px 0%;
}

/* SAMOSTATNÃ KARTA */

.benefits__double {
  display: flex;
}

.benefits__double > div {
  margin-bottom: 0;
}

.benefits__single--solo {
  max-width: 620px;
}

.benefits__single--solo .benefits__text {
  max-width: none;
  margin: 70px 35px;
}

.benefits__single--image {
  flex-grow: 1;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  background-color: var(--color-card-green);
  border: none;
  margin-left: 65px;
}

.benefits__single--image img {
  width: 295px;
  height: auto;
  margin-top: 55px;
}